<h4><center>About Dataset</h4></center>
"This dataset generated by respondents to a distributed survey via Amazon Mechanical Turk between 03.12.2016-05.12.2016. Thirty eligible Fitbit users consented to the submission of personal tracker data, including minute-level output for physical activity, heart rate, and sleep monitoring. Individual reports can be parsed by export session ID (column A) or timestamp (column B). Variation between output represents use of different types of Fitbit trackers and individual tracking behaviors / preferences."

<center><h3>Análise exploratória dados fitbit</center></h3>

In [1]:
# importando bibliotecas
import pandas as pd
from pathlib import Path

In [2]:
# usando path para facilitar acesso a arquivos
caminho_arquivo = Path('dailyActivity_merged.csv').resolve().parents[1]
print('caminho do diretório',caminho_arquivo)

caminho do diretório D:\python\bellabeat-analysis

In [3]:
#acessando csv
d_activity = pd.read_csv(f'{caminho_arquivo}/database/fitbit-data/dailyActivity_merged.csv')
heartrate = pd.read_csv(f'{caminho_arquivo}/database/fitbit-data/heartrate_seconds_merged.csv')
h_calories = pd.read_csv(f'{caminho_arquivo}/database/fitbit-data/hourlyCalories_merged.csv')
h_intensity = pd.read_csv(f'{caminho_arquivo}/database/fitbit-data/hourlyIntensities_merged.csv')
m_calories = pd.read_csv(f'{caminho_arquivo}/database/fitbit-data/minuteCaloriesNarrow_merged.csv')
m_intensity = pd.read_csv(f'{caminho_arquivo}/database/fitbit-data/minuteIntensitiesNarrow_merged.csv')
m_sleep = pd.read_csv(f'{caminho_arquivo}//database/fitbit-data/minuteSleep_merged.csv')
weightlog = pd.read_csv(f'{caminho_arquivo}/database/fitbit-data/weightLogInfo_merged_treated.csv')

### Análise de uso das features/ contagem de ids únicos nos datasets

In [4]:
print("Ids usando função 'daily activity':",d_activity['Id'].nunique())
print("Ids usando função 'hourly calories':",h_calories['Id'].nunique())
print("Ids usando função 'hourly intensity':", h_intensity['Id'].nunique())
print("Ids usando função 'minute calories':",m_calories['Id'].nunique() )
print("Ids usando função 'minute intensity':",m_intensity['Id'].nunique())
print("Ids usando função 'minute sleep':",m_sleep['Id'].nunique())
print("Ids usando função 'heart rate':",heartrate['Id'].nunique())
print("Ids usando função 'weightlog':",weightlog['Id'].nunique())

Ids usando função 'daily activity': 35
Ids usando função 'hourly calories': 34
Ids usando função 'hourly intensity': 34
Ids usando função 'minute calories': 34
Ids usando função 'minute intensity': 34
Ids usando função 'minute sleep': 23
Ids usando função 'heart rate': 14
Ids usando função 'weightlog': 11

### Checagem de timeframe dos dados e presença dos ids ao longo do tempo

* primeiras duas semanas dos dados só tem 2 usuários ativos, outros usuários se tornam ativos ao longo dos dias restantes
    * análises ao longo do tempo são impossibilitadas pela oferta de dados
* primeiro dia do dataframe: 12 de março 2016 . último dia do data frame: 12 de abril 2016

In [5]:
#tabela para contar ids por dia do dataset.
pd.pivot_table(d_activity, index='ActivityDate', values= 'Id', aggfunc='count').sort_values(by='ActivityDate', ascending= True)

              Id
ActivityDate
3/12/2016      2
3/13/2016      2
3/14/2016      2
3/15/2016      2
3/16/2016      2
3/17/2016      2
3/18/2016      2
3/19/2016      2
3/20/2016      2
3/21/2016      2
3/22/2016      2
3/23/2016      2
3/24/2016      2
3/25/2016      4
3/26/2016      4
3/27/2016      4
3/28/2016      4
3/29/2016     10
3/30/2016     11
3/31/2016     11
4/1/2016      34
4/10/2016     29
4/11/2016     25
4/12/2016     24
4/2/2016      35
4/3/2016      35
4/4/2016      35
4/5/2016      35
4/6/2016      33
4/7/2016      33
4/8/2016      33
4/9/2016      32

### Análise exploratória d_activity

In [6]:
d_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB

In [7]:
# Existe 457 registros, mas 35 Ids unicos, Sempre que a pessoa usa o app o registro é salvo novamente.
# Se for analisar a quantidade de que pessoa usa o app, junta quantas vezes tal id aparece.
# Apenas um exemplo: duplicados = d_activity['Id'].duplicated().sum()

In [8]:
# Quantas vezes os 35 id aparecem, para saber frequência do uso da feature d_activity
contagem_id = d_activity['Id'].value_counts()
contagem_id.sort_values(ascending=False)

Id
4020332650    32
4057192912    32
1503960366    19
1624580081    19
4702921684    15
2347167796    15
4445114986    15
6962181067    14
8792009665    12
2026352035    12
1844505072    12
4558609924    12
2873212765    12
2320127002    12
3977333714    12
4319703577    12
5553957443    12
2022484408    12
1927972279    12
8378563200    12
8253242879    12
7086361926    12
8877689391    12
7007744171    12
8053475328    11
5577150313    11
1644430081    10
6290855005    10
6117666160    10
3372868164    10
6391747486     9
6775888955     9
2891001357     8
4388161847     8
8583815059     8
Name: count, dtype: int64

### Análise Total steps

#### Estatística dos dados de passos

In [9]:
d_activity['TotalSteps'].median() #5986.0
d_activity['TotalSteps'].mean() #6546.5
d_activity['TotalSteps'].mode() #0  61 linhas desse dataframe não tem nenhuma entrada de passos. 
#396 entradas com input de passos

0    0
Name: TotalSteps, dtype: int64

#### Análise de passos max e mean por id

In [10]:
pd.pivot_table(d_activity, values = 'TotalSteps', index= 'Id', aggfunc= ('mean', 'max')).round(2)
#apenas uma pessoa não fez input de passos

              max      mean
Id
1503960366  17609  11640.53
1624580081  18464   4226.26
1644430081  20237   9274.80
1844505072   6847   3640.58
1927972279   5662   2180.83
2022484408  18247  12174.92
2026352035   6679   3392.75
2320127002  11230   3138.42
2347167796  16081   9800.07
2873212765  14103   6636.58
2891001357   4126    773.62
3372868164   8827   6127.50
3977333714  15425   8663.92
4020332650  12483   5776.59
4057192912   8433   1887.22
4319703577  10946   7820.58
4388161847      0      0.00
4445114986   6911   4293.07
4558609924   8828   5785.25
4702921684  14002   7943.40
5553957443  15444   8354.75
5577150313  14873   8608.18
6117666160  19658   8248.60
6290855005   9548   1618.10
6391747486   9766   1336.89
6775888955  13987   5559.00
6962181067  18952  12639.71
7007744171  16806  12260.33
7086361926  14604   6103.92
8053475328  25701  14844.36
8253242879  12026   2389.92
8378563200  14179   8135.25
8583815059   6835   3045.50
8792009665   8452   3094.92
8877689391  28497  17417.08

### Checagem e Contagem de null steps por id

In [11]:
# existe 14 ids com steps zero, mas todas as suas colunas nao estão com zero, saber qual contéudo das colunas dos ids com steps zro
id_a_verificar = [
    1844505072, 2320127002, 2347167796, 2873212765, 2891001357,
    4057192912, 4319703577, 4388161847, 4702921684, 6117666160,
    6290855005, 6391747486, 6775888955, 8253242879
]
for ids in id_a_verificar:
    print(f"Verificando se o ID {ids}")
    colunas_id = d_activity[d_activity['Id'] == ids].drop('Id', axis=1)
    
    # Check if all values in all columns (except 'Id') are zero
    todas_zeros = (colunas_id == 0).all().all()
    print("todas as suas colunas tem valor zero", todas_zeros)

Verificando se o ID 1844505072
todas as suas colunas tem valor zero False
Verificando se o ID 2320127002
todas as suas colunas tem valor zero False
Verificando se o ID 2347167796
todas as suas colunas tem valor zero False
Verificando se o ID 2873212765
todas as suas colunas tem valor zero False
Verificando se o ID 2891001357
todas as suas colunas tem valor zero False
Verificando se o ID 4057192912
todas as suas colunas tem valor zero False
Verificando se o ID 4319703577
todas as suas colunas tem valor zero False
Verificando se o ID 4388161847
todas as suas colunas tem valor zero False
Verificando se o ID 4702921684
todas as suas colunas tem valor zero False
Verificando se o ID 6117666160
todas as suas colunas tem valor zero False
Verificando se o ID 6290855005
todas as suas colunas tem valor zero False
Verificando se o ID 6391747486
todas as suas colunas tem valor zero False
Verificando se o ID 6775888955
todas as suas colunas tem valor zero False
Verificando se o ID 8253242879
todas as suas colunas tem valor zero False

In [12]:
# contagem de null steps por id, sabendo que apenas um desses Ids (4388161847) não tem nenhum input de passos em seus registros
contagem_null_steps_id = d_activity.loc[d_activity['TotalSteps']== 0,'Id'].value_counts()
contagem_null_steps_id.sort_values(ascending=False)

Id
4057192912    13
4388161847     8
6290855005     8
6391747486     6
8253242879     6
2891001357     6
2320127002     4
1844505072     3
6117666160     2
2873212765     1
2347167796     1
4319703577     1
4702921684     1
6775888955     1
Name: count, dtype: int64

Os dados com 0 inputs de passo podem representar pessoas que usam o fitbit apenas em dias de atividade física dedicada (como é inviável usar o fitbit e não registrar passos)

In [13]:
# Ver contéudo das colunas desse ID 1844505072
d_activity[d_activity['Id']== 1844505072]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
48,1844505072,4/1/2016,6847,4.53,4.53,0.0,0.61,0.37,3.55,0.0,9,9,251,1171,1969
49,1844505072,4/2/2016,5367,3.55,3.55,0.0,0.00,0.00,3.55,0.0,0,0,263,1177,1889
50,1844505072,4/3/2016,2841,1.88,1.88,0.0,0.00,0.00,1.88,0.0,0,0,136,1114,1636
51,1844505072,4/4/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,669,1347
52,1844505072,4/5/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,1347
53,1844505072,4/6/2016,7,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,1,1439,1349
54,1844505072,4/7/2016,6344,4.19,4.19,0.0,0.00,0.00,4.19,0.0,0,0,290,1150,1965
55,1844505072,4/8/2016,5316,3.51,3.51,0.0,0.00,0.00,3.51,0.0,0,0,221,1219,1824
56,1844505072,4/9/2016,4979,3.29,3.29,0.0,0.00,0.00,3.29,0.0,0,0,184,620,1807
57,1844505072,4/10/2016,6556,4.34,4.34,0.0,0.00,0.00,4.33,0.0,0,0,305,810,1971
58,1844505072,4/11/2016,5430,3.59,3.59,0.0,0.00,0.00,3.59,0.0,0,0,251,1189,1888
59,1844505072,4/12/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,426,399

In [14]:
# Quantas vezes o step zero aparece 
df_filtrado = d_activity[d_activity['TotalSteps'] == 0]
len(df_filtrado['TotalSteps'])
# Existe 61 registros com zero passos, divididos entre 14 ids, sendo que apenas uma delas não tem nenhum registro de passos

61

### Acrescentando infomação na Análise do  d_activity
* Do total de 427 registros, 61 deles são nulos (steps, atividade e minutos ativos zerados), divididos entre 14 ids.
* Esses 14 ids tem 1 ou mais dias com 0 registro de passos e atividade (sendo que apenas 1 id tem todos os seus 8 registros nulos)
* pode-se supor que são pessoas que não usam o fit bit em dias sem exercício dedicado (e nessa amostra, são minoria)

### Análise exploratória heartrate

In [15]:
heartrate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154681 entries, 0 to 1154680
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Id      1154681 non-null  int64
 1   Time    1154681 non-null  object
 2   Value   1154681 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.4+ MB

In [16]:
heartrate.head()

           Id                 Time  Value
0  2022484408  4/1/2016 7:54:00 AM     93
1  2022484408  4/1/2016 7:54:05 AM     91
2  2022484408  4/1/2016 7:54:10 AM     96
3  2022484408  4/1/2016 7:54:15 AM     98
4  2022484408  4/1/2016 7:54:20 AM    100

In [17]:
pd.pivot_table(heartrate, values = 'Value', index= 'Id', aggfunc= ['mean', 'max', 'min']).round(2).sort_values(by= ('mean', 'Value'), ascending= False)

             mean   max   min
            Value Value Value
Id
6775888955  97.74   185    59
7007744171  89.93   158    56
8877689391  87.60   179    47
6391747486  84.12   133    49
6117666160  83.49   130    52
4020332650  81.90   151    46
2022484408  81.69   182    46
6962181067  80.69   176    48
4558609924  79.55   158    50
8792009665  76.33   163    45
2347167796  76.07   182    51
5553957443  69.42   152    48
2026352035  65.78    80    57
5577150313  65.00   176    36

### Insights até aqui
* apenas 14 ids tem input de heart rate
* destes 14, 4 ids estão em comum com a lista de pessoas que teorizei que só usam durante exercício (6775888955 , 6391747486, 6117666160 , 2347167796), o que ainda pode fazer sentido, a valor médio de batimentos é alto em 3 delas - pode indicar novamente fitbit apenas quando faz exercício
* Tem menos ids e mais registros que o dailyActivit

In [18]:
# Quantas vezes os 14 id aparecem, para saber frequência do uso do app 
contagem_id = heartrate['Id'].value_counts()
contagem_id

Id
4020332650    283794
6962181067    125875
2347167796    120804
5553957443     97797
5577150313     87649
8877689391     85115
8792009665     70087
4558609924     69339
7007744171     64786
2022484408     56483
6117666160     53666
6775888955     35100
6391747486      3747
2026352035       439
Name: count, dtype: int64

### Análise exploratória hourly calories
* 34 ids tem input de calorias

In [19]:
h_calories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24084 entries, 0 to 24083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            24084 non-null  int64
 1   ActivityHour  24084 non-null  object
 2   Calories      24084 non-null  int64
dtypes: int64(2), object(1)
memory usage: 564.6+ KB

In [20]:
h_calories.head()

           Id           ActivityHour  Calories
0  1503960366  3/12/2016 12:00:00 AM        48
1  1503960366   3/12/2016 1:00:00 AM        48
2  1503960366   3/12/2016 2:00:00 AM        48
3  1503960366   3/12/2016 3:00:00 AM        48
4  1503960366   3/12/2016 4:00:00 AM        48

In [21]:
h_calories['Id'].nunique() #34 ids com input de calorias (gastas)

34

### Análise exercício

In [22]:
pd.pivot_table(d_activity, values= ('Calories', 'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance'), index= 'Id',
               aggfunc={'Calories':'mean', 'VeryActiveDistance':'mean', 'ModeratelyActiveDistance':'mean','LightActiveDistance':'mean'}).sort_values(by='Calories', ascending=False).round(2)

,Calories,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
Id,,,,
8877689391,3451.17,6.27,0.48,7.28
8378563200,3356.17,3.96,0.53,1.97
5577150313,3300.27,2.68,0.65,3.11
4020332650,3075.38,2.24,0.20,0.17
1644430081,2916.40,3.58,2.03,1.13
8053475328,2893.18,2.54,0.49,8.54
4702921684,2821.47,5.39,0.81,0.24
6775888955,2724.78,1.82,1.18,0.94
7007744171,2627.08,4.66,0.66,3.54
2022484408,2475.33,4.81,0.88,3.09
8583815059,2391.25,2.23,0.09,0.05
2891001357,2273.38,0.60,0.00,0.00
1927972279,2254.00,1.45,0.06,0.00
7086361926,2177.00,1.99,0.55,1.53
6290855005,2165.60,0.65,0.37,0.20
4445114986,2107.80,2.44,0.04,0.42
6117666160,2099.30,5.91,0.27,0.04
6962181067,2089.21,4.28,1.78,2.58
8792009665,2073.67,1.82,0.11,0.05
2347167796,2021.33,4.39,1.26,0.86
4319703577,1994.25,4.08,0.72,0.46
4057192912,1903.53,1.04,0.24,0.10
3372868164,1860.30,3.35,0.11,0.74
4558609924,1830.17,3.53,0.11,0.18
4388161847,1805.25,0.00,0.00,0.00
5553957443,1802.50,3.08,0.87,1.51
1503960366,1796.21,4.18,0.64,2.78
6391747486,1763.11,0.84,0.01,0.23
2873212765,1695.75,3.88,0.26,0.33
1844505072,1615.92,2.32,0.03,0.05
2320127002,1532.08,2.00,0.04,0.08
8253242879,1463.00,0.79,0.28,0.60
3977333714,1398.08,3.59,1.37,0.84
2026352035,1355.50,2.10,0.00,0.00
1624580081,1352.89,2.66,0.03,0.05

In [23]:
pd.pivot_table(d_activity, values= ('Calories','VeryActiveMinutes','FairlyActiveMinutes','LightlyActiveMinutes'), index= 'Id',
               aggfunc={'Calories':'mean', 'VeryActiveMinutes': 'mean','FairlyActiveMinutes':'mean','LightlyActiveMinutes':'mean'}).sort_values(by='Calories', ascending=False).round(2)
# é possível observar que a maioria dos usuários do fitbit se exercitam mais por meio de "lightlyActiveMinutes"

,Calories,FairlyActiveMinutes,LightlyActiveMinutes,VeryActiveMinutes
Id,,,,
8877689391,3451.17,15.08,241.00,66.83
8378563200,3356.17,10.33,168.92,55.42
5577150313,3300.27,28.18,157.27,81.82
4020332650,3075.38,7.66,130.38,4.06
1644430081,2916.40,43.50,227.70,14.80
8053475328,2893.18,11.36,154.36,84.82
4702921684,2821.47,17.27,246.73,2.93
6775888955,2724.78,49.22,124.00,19.89
7007744171,2627.08,16.25,277.50,44.67
2022484408,2475.33,22.50,253.83,40.08
8583815059,2391.25,1.88,137.12,0.62
2891001357,2273.38,82.50,168.75,0.00
1927972279,2254.00,1.67,111.67,0.00
7086361926,2177.00,17.67,101.25,26.25
6290855005,2165.60,10.70,39.30,7.80
4445114986,2107.80,0.93,200.60,5.07
6117666160,2099.30,4.10,299.90,0.50
6962181067,2089.21,29.00,258.57,35.36
8792009665,2073.67,5.42,132.08,1.50
2347167796,2021.33,23.13,253.53,11.80
4319703577,1994.25,18.25,248.67,6.58
4057192912,1903.53,5.28,43.25,1.25
3372868164,1860.30,3.50,286.90,11.80
4558609924,1830.17,2.75,249.83,4.33
4388161847,1805.25,0.00,0.00,0.00
5553957443,1802.50,16.67,183.33,23.58
1503960366,1796.21,15.84,228.21,35.84
6391747486,1763.11,0.67,34.33,5.11
2873212765,1695.75,6.00,275.25,5.08
1844505072,1615.92,0.75,158.50,0.75
2320127002,1532.08,1.08,125.92,0.92
8253242879,1463.00,4.67,59.25,5.83
3977333714,1398.08,31.25,206.92,12.17
2026352035,1355.50,0.00,169.33,0.00
1624580081,1352.89,0.58,121.05,0.74

### Análise de sobrepeso nos usuários do fitbit
* 35 ids tem dados sobre peso
* 7 ids do fit estão acima do peso, e apenas 1 delas tem obesidade grau 2 e apenas 1 tem obesidade grau 3
* comparando weightlog e daily activity, 3 usuários acima do peso  tem inputs com total step zerado ,mas não todos os inputs de total steps zerados

In [24]:
weightlog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              33 non-null     int64
 1   Date            33 non-null     object
 2   WeightKg        33 non-null     float64
 3   WeightPounds    33 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             33 non-null     float64
 6   IsManualReport  33 non-null     bool
 7   LogId           33 non-null     int64
 8   BMI_describe    33 non-null     object
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 2.2+ KB

In [25]:
weightlog['BMI_describe'].value_counts()

BMI_describe
Normal weight    18
Overweight       13
Obesity           2
Name: count, dtype: int64

### Poucos Ids com dados no weightlog para tirar qualquer conclusão sobre exercício em relação ao IMC